.libro_icon{
    
    font-size: 200%;
    color: red
    
}

.login_contenido{
    margin:0 auto;
    position: absolute;
    top: 20%;
   /*  left: 45%;
    margin-top: -75px;
    margin-left: -75px; */
    text-align: center;
}

#div_inputs{
    background-color:rgb(13, 238, 238);
       
}