<ion-content padding class="master">

  <div class="usuario">

    <ion-input [(ngModel)]="data['nombre']" placeholder="Nombre" inputmode="text"></ion-input>
    <ion-input [(ngModel)]="data['usuario']" placeholder="Usuario" inputmode="numeric" maxlength="7" minlength="6"></ion-input>
    <div id="contraseña">
      <ion-input [(ngModel)]="data['contra']" placeholder="Contraseña" type="password" inputmode="password" minlength="5"></ion-input>
      <ion-button shape="round" id="bonton_info">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
    </div>

    <div>
      <ion-item class="type">
        <ion-label>Tipo</ion-label>
        <ion-select [(ngModel)]="data['tipo']" value="1" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="1">Estudiante</ion-select-option>
          <ion-select-option value="2">Maestro</ion-select-option>
          <ion-select-option value="3">Bibliotecario</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-input [(ngModel)]="data['email']" placeholder="E-mail" inputmode="email"></ion-input>
    <ion-input [(ngModel)]="data['telefono']" placeholder="Telefono" type="tel" inputmode="tel"></ion-input>
    <ion-input [(ngModel)]="data['area']" placeholder="Area" type="text" inputmode="text"></ion-input>
    <ion-button (click)="registrarUser()" expand="full">Continuar</ion-button>
  </div>




</ion-content>