<ion-content padding class="master">

  <div class="usuario">


    <ion-input placeholder="Usuario" inputmode="numeric" maxlength="7" minlength="6"></ion-input>
    <div id="contraseña">
      <ion-input placeholder="Contraseña" type="password" inputmode="password" minlength="5"></ion-input>
      <ion-button shape="round" id="bonton_info">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
    </div>

    <div>
        <ion-item  class="type">
          <ion-label>Tipo</ion-label>
          <ion-select value="estudiante" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="estudiante">Estudiante</ion-select-option>
            <ion-select-option value="Maestro">Maestro</ion-select-option>
            <ion-select-option value="bibliotecario">Bibliotecario</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <ion-input placeholder="E-mail" inputmode="email"></ion-input>
      <ion-input placeholder="Telefono" type = "tel" inputmode="tel"></ion-input>
      <ion-input placeholder="Area" type = "text" inputmode="text"></ion-input>
      <ion-button color="success" expand="full">Continuar</ion-button>
  </div>

 


</ion-content>