.prestamo_libro {
    text-align: center;
    top: 10%;
    width: 100%;
    //left: 8%;
}

/* #checkbox_extend{
    top: 16px;
} */

#boton_info {
    width: 10px;
}

.datagrid {
    text-align: right;
    top: 20%;
}

.usuario {
    display: flex;
}

.libro {
    display: flex;
}

.extension {
    display: inline-flex;
    text-align: center;
}

/* .alinear{
    display: flex;
} */

p {
    margin: auto;
}

.espaciado {
    div {
        margin-bottom: 8px;
    }
}