.prestamo_libro{
    text-align: center;
    top: 20%;
    width: 100%;
    left: 8%;
}
#checkbox_extend{
    top: 14px;
}

#boton_info{
    width: 10px;
}

.datagrid{
    text-align: right;
    top: 20%;
}
