<ion-content padding>
  <ion-content class="prestamo_libro">

    <div class="usuario">
      <p>Código de usuario:</p>
      <ion-input (keyup) = 'user()' [(ngModel)]="data['usuario']" placeholder="Ingrese..." [ngStyle]="{'color': userColor ? 'green' : 'red'}"></ion-input>
      <app-modal-user></app-modal-user>
    </div>


    <div class="libro">
      <p>Código de libro: </p>
      <ion-input (keydown.enter)="pushBook()" (keyup) = 'libro()' [(ngModel)]="data['isbn']"  placeholder="Ingrese..." [ngStyle]="{'color': bookColor ? 'green' : 'red'}"></ion-input>
      <ion-button (click)="pushBook()" shape="round" id="bonton_info">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>


    <div class="extension">
      <div class="alinear">
        <ion-checkbox [(ngModel)]="extension" checked='extension' color="light" id="checkbox_extend"></ion-checkbox>
        <p>Extension</p>
        <ion-button  shape="round" id="bonton_info">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </div>


    <app-datagrid [info] = "libros"></app-datagrid>

    <p>Empleado: Muñoz Marin Brian Alejandro</p>

    <p>Codigo: </p>

    <ion-button (click)="confirmar()" color="success" expand="full">Generar tickect</ion-button>




  </ion-content>

</ion-content>