<ion-content padding class="mainLibro">

  <div>
    <ion-input placeholder="Nombre del libro"></ion-input>
    <ion-input placeholder="Nombre del autor"></ion-input>
    <ion-input placeholder="Genero"></ion-input>
    <ion-input placeholder="Edicion"></ion-input>
    <ion-input placeholder="Editorial"></ion-input>
    <ion-input placeholder="Idioma"></ion-input>
    <ion-input placeholder="ISBN"></ion-input>
    <ion-textarea placeholder="Descripción"></ion-textarea>-
    <ion-button color="light" expand="full">Insertar</ion-button>
  </div>

</ion-content>
