<!-- <ion-content class="prestamo">
 

  <ion-item>
    <ion-label>Código de usuario:</ion-label>
    <ion-input
      [(ngModel)]="data['usuario']"
      placeholder="Ingrese..."
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Numero de serie: </ion-label>
    <ion-input
      [(ngModel)]="data['numSerie']"
      placeholder="Ingrese..."
    ></ion-input>
    
  </ion-item>


</ion-content> -->

<app-datagrid [info] = "materiales" class = "datagrid" [mostrar] = 'true' [libro] = 'true'></app-datagrid>
