<div class="info">
  <ion-grid>
    <ion-row>
      <ion-col>
        Libro
      </ion-col>

      <ion-col>
        Autor
      </ion-col>

      <ion-col>
        Fecha de prestamo
      </ion-col>

      <ion-col>
        Fecha de entrega
      </ion-col>

      <ion-col>
        Extensión
      </ion-col>

      <ion-col>
        Entregar
      </ion-col>
    </ion-row>
    <ion-row  *ngFor="let l of libros; trackBy: trackElement">
      <ion-col>
        {{ l.nombre }}
      </ion-col>

      <ion-col>
        {{ l.autor }}
      </ion-col>

      <ion-col>
        {{ date }}
      </ion-col>

      <ion-col>
        {{ dateNew }}
      </ion-col>

      <ion-col>
        {{ l.nombre }}
      </ion-col>

      <ion-col>
        {{ l.nombre }}
      </ion-col>

    </ion-row>
  </ion-grid>
</div>
