<div class="info" *ngIf="libro">
  <ion-grid>
    <ion-row>
      <ion-col>
        Libro
      </ion-col>

      <ion-col>
        Autor
      </ion-col>

      <ion-col>
        Fecha de prestamo
      </ion-col>

      <ion-col>
        Fecha de entrega
      </ion-col>

      <ion-col>
        Extensión
      </ion-col>

      <ng-container *ngIf="mostrar; else elseTemplate1"> </ng-container>
      <ng-template #elseTemplate1>
        <ion-col>
          Entregar
        </ion-col>
      </ng-template>
    </ion-row>
    <br />

    <ion-row
      *ngFor="let l of libros; trackBy: trackElement"
      style="align-self: center;"
    >
      <ion-col>
        {{ l.nombre }}
      </ion-col>

      <ion-col>
        {{ l.autor }}
      </ion-col>

      <ion-col>
        {{ l.date }}
      </ion-col>

      <ion-col>
        {{ l.dateEntrega }}
      </ion-col>

      <ng-container *ngIf="l.extension; else elseTemplate2">
        <ion-col>Si</ion-col>
      </ng-container>
      <ng-template #elseTemplate2>
        <ion-col>No</ion-col>
      </ng-template>

      <ng-container *ngIf="mostrar; else elseTemplate3"> </ng-container>
      <ng-template #elseTemplate3>
        <ion-col>
          <ion-button
            (click)="returnBook(l)"
            shape="round"
            style="top: -30% !important;"
          >
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</div>

<div class="info" *ngIf="!libro">
  <ion-row>
    <ion-col>
      Tipo
    </ion-col>

    <ion-col>
      Marca
    </ion-col>

    <ion-col>
      Descripcion
    </ion-col>
    <ion-col>
      Numero de Serie
    </ion-col>

    <ion-col>
      Fecha de prestamo
    </ion-col>

    <ion-col>
      Fecha de entrega
    </ion-col>
    <ng-container *ngIf="mostrar; else elseTemplate1"> </ng-container>
    <ng-template #elseTemplate1>
      <ion-col>
        Entregar
      </ion-col>
    </ng-template>
  </ion-row>

  <ion-row *ngFor="let m of materiales">
    <ion-col>
      {{m.tipo}}
    </ion-col>

    <ion-col>
      {{m.marca}}
    </ion-col>

    <ion-col>
      {{m.descripcion}}
    </ion-col>

    <ion-col>
      {{m.numSerie}}
    </ion-col>
    <ion-col>
      {{ m.date }}
    </ion-col>

    <ion-col>
      {{ m.dateEntrega }}
    </ion-col>

    <ng-container *ngIf="mostrar; else elseTemplate4"> </ng-container>
    <ng-template #elseTemplate4>
      <ion-col>
        <ion-button (click)="returnMaterial(m)" shape="round" style="top: -30% !important;">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ion-col>
    </ng-template>
  </ion-row>
  <br />
</div>
