p{
    top:50%;
}

.info{
   /*  overflow-y: scroll;
    overflow-x: scroll; */
    resize: both;
    text-align: center;
    word-wrap: break-word; 
    height:20vw;
    font-size:0.8em;
    font-weight:300;
    
}