<div class="info">
  <ion-grid>
    <ion-row>
      <ion-col>
        Libro
      </ion-col>

      <ion-col>
        Autor
      </ion-col>

      <ion-col>
        Fecha de prestamo
      </ion-col>

      <ion-col>
        Fecha de entrega
      </ion-col>

      <ion-col>
        Extensión
      </ion-col>

      <ng-container *ngIf="service.prestamo; else elseTemplate1"> </ng-container>
      <ng-template #elseTemplate1>
        <ion-col>
          Entregar
        </ion-col>
      </ng-template>
    </ion-row>
    <br>
    <ion-row *ngFor="let l of libros; trackBy: trackElement" style="align-self: center;">
      <ion-col>
        {{ l.nombre }}
      </ion-col>

      <ion-col>
        {{ l.autor }}
      </ion-col>

      <ion-col>
        {{ l.date }}
      </ion-col>

      <ion-col>
        {{ l.dateEntrega }}
      </ion-col>

      <ng-container *ngIf="l.extension; else elseTemplate2">
        <ion-col>Si</ion-col>
      </ng-container>
      <ng-template #elseTemplate2>
        <ion-col>No</ion-col>
      </ng-template>

      <!-- <ng-container *ngIf="service.prestamo; else elseTemplate3"> </ng-container>
      <ng-template #elseTemplate3>
        <input value={{l.isbn}} type="hidden">
        <ion-button  shape="round" style="text-align:center;">
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
      </ng-template> -->
    </ion-row>
  </ion-grid>
</div>
