<ion-content padding class="devolucion">


  <ion-item>
      <ion-label>Codigo de folio</ion-label>
      <ion-input (keyup) = 'searchType()' [(ngModel)]="data['folio']"></ion-input>
      <ion-button (click)="showLend()">Buscar</ion-button>
  </ion-item>

  <p>Nombre del empleado:{{user['nombre']}} </p>

  <!-- Aqui comienza el datagrid -->

  <div class = "datagrid">
    <app-datagrid [info] = "prestados" [mostrar] = "false" [libro] = 'isBook' *ngIf="controladorDatagrid"></app-datagrid>
  </div>
  
</ion-content>
