<app-toolbar title="Devolución"></app-toolbar>
<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Codigo de usuario</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <p>Nombre del empleado: </p>
      </ion-col>
    </ion-row>
    <ion-row >
      <p>Aqui va la datagrid</p>
    </ion-row>

    <ion-row>
        <ion-button color="danger">Libro dañado</ion-button>
    </ion-row>
  </ion-grid>


</ion-content>