<ion-menu side="start" menuId="first" class="menu">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>{{title}} (Pagina actual)</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="!mostrar" (click)="go_login()">Login</ion-item>
      <ion-item *ngIf="mostrar && user['tipo']  >  2" (click)="go_prestamo()">Prestamo libro</ion-item>
      <ion-item *ngIf="mostrar && user['tipo']  >  2" (click)="go_prestamoMaterial()">Prestamo Material</ion-item>
      <ion-item *ngIf="mostrar && user['tipo'] >  2" (click)="go_devolucion()">Devolucion</ion-item>
      <ion-item *ngIf="mostrar && user['tipo'] >  2" (click)="go_registroUser()">Registrar usuario</ion-item>
      <ion-item *ngIf="mostrar && user['tipo']  >  2" (click)="go_registroLibro()">Registrar libro</ion-item>
      <ion-item *ngIf="mostrar && user['tipo']  >  2" (click)="go_registroMaterial()">Registrar material</ion-item>
      <ion-item (click)="go_mostrarLibros()">Mostrar Libros</ion-item>
      <ion-item (click)="go_mostrarMaterial()">Mostrar Material</ion-item>
      <ion-item *ngIf="mostrar && user['tipo']  >  2" (click)="go_mostrarUsuarios()">Mostrar usuarios</ion-item>
      <ion-item *ngIf="mostrar && user['tipo']  >  3" (click)="go_mostrarDinero()">Balance</ion-item>

    </ion-list>
  </ion-content>
  <ion-button *ngIf="mostrar" (click)="doLogout()">
    Logout!
  </ion-button>
</ion-menu>


<ion-router-outlet main></ion-router-outlet>

<app-toolbar title={{title}}></app-toolbar>